[core]
	excludesfile = ~/.gitignore
	editor = vim
	autocrlf = input
[user]
	name = {{ git_username }}
	email = {{ git_email }}
[push]
	default = simple
[alias]
    st = status
    pr = pull --rebase
    co = checkout
    br = branch
    ci = commit
    p = pull
    lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
